@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container ">

    <div class="nav nav-tabs" role="tablist">
        <div class="col-xs-12 col-md-12" style="border-bottom: 1px solid #DDD; background: #F7F7F7;">
            <div style="text-align: center; margin: 0 auto;">
                <div class="tab-cont" style="float: none; width: 100%; display: inline-block; text-align: center; margin-bottom: 40px; margin-top: 40px;">
                    <a href="/Randevu/Create" class="btn btn-primary btn-lg" role="button">RANDEVU OLUŞTUR</a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-12 lrb" style="border-bottom: 1px solid #DDD; background: #fBFBFB;">
            <div style="text-align: center; margin: 0 auto;">
                <div class="tab-cont" style="float: none; width: 100%; display: inline-block; text-align: center; margin-bottom: 40px; margin-top: 40px;">
                    <a href="/Randevu/Index" class="btn btn-primary btn-lg" role="button">RANDEVULARIM</a>

                </div>
            </div>
        </div>


        <div class="col-xs-12 col-md-12" style="background: #F7F7F7; border-bottom: 1px solid #ddd;">
            <div style="text-align: center; margin: 0 auto;">
                <div class="tab-cont" style="float: none; width: 100%; display: inline-block; text-align: center; margin-bottom: 40px; margin-top: 40px;">
                    <a href="/Home/Odeme" class="btn btn-primary btn-lg" role="button">ÖDEME</a>

                </div>
            </div>
        </div>


        <div class="col-xs-12 col-md-12 lrb" style="border-bottom: 1px solid #DDD; background: #fBFBFB;">
            <div style="text-align: center; margin: 0 auto;">
                <div class="tab-cont" style="float: none; width: 100%; display: inline-block; text-align: center; margin-bottom: 40px; margin-top: 40px;">
                    <a href="/Home/Onay" class="btn btn-primary btn-lg" role="button">RANDEVU ONAY</a>

                </div>
            </div>
        </div>


    </div>



</div>


